<h3>Select your language</h3>
<select @onchange="ChangeCulture">
    <option>Select culture</option>
    <option value="en-CA">English</option>
    <option value="fr-CA">Francais</option>
    <option value="en-US">English</option>
    <option value="fr-FR">Francais</option>
</select>


@code {
    private void ChangeCulture(ChangeEventArgs e)
    {
        var culture = (string)e.Value;
        var uri = new Uri(NavigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var query = $"?culture={Uri.EscapeDataString(culture)}&" +
            $"redirectUri={Uri.EscapeDataString(uri)}";

        NavigationManager.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
    }

    string lng(string txt)
    {
        var msg = @SharedLocalizer.GetLocalizedHtmlString(txt);
        return msg;
    }
}  